@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/jQuery/jquery-1.9.1.min.js"></script>
    <script src="~/jQuery/jquery-2.1.4.js"></script>

    
    <script src="~/Bootstrap/angular.min.js"></script>
    <script src="~/Bootstrap/angular-route.min.js"></script>
    <link href="~/Bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />
    <script src="~/Bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
    <script src="~/Bootstrap/JavaScript1.js"></script>
    <title>iReviewing</title>
</head>
<body style="background-color:#D4D8D1">
  
               @RenderBody() ;
    <div style="background-color: #191616; color: #D4D8D1; font-weight: 700; font-size: small">
        <br /> <b style="margin-left:80%"> </b> Copyrights to website Owner <br /> <br />
    </div>
</body>
</html>

