
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Awaien</title>
</head>
<body>
    <div> 
        <h1>Hello</h1>
        <h2>hi</h2>
        <h3>heyyyyy</h3>
    </div>
</body>
</html>
