@{
    User u = (User)Session["userIn"];
    int uD = u.userId;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin-top:50px ; margin-bottom:50px" class="row">

    <div class="col-md-7"> </div>

    <div class="col-md-4" style="margin-top:10px; background-color:#D4D8D1">
        <h3 style="margin-left: 55px; margin-bottom: 30px; color: #577492">Change Your Password</h3>

        <fieldset style="margin-left:25px ; margin-right:25px ; margin-bottom:25px">

            <div class="form-group has-error" id="hDiv">
                <input class="form-control input-lg" value="@uD" id="uId" type="text">
            </div>

            <script>
                $(document).ready(function () {
                    $('#hDiv').hide() ;
                }) ;
                </script>

            <div class="form-group has-error">
                <input class="form-control input-lg" placeholder="Old Password" name="oP" id="old" type="password">
            </div>
            <div class="form-group has-success">
                <input class="form-control input-lg" placeholder="Enter New Password" name="nP" id="new" type="password">
            </div>
            <div class="form-group has-success">
                <input class="form-control input-lg" placeholder="Enter New Password Again" name="nP1" id="new1" type="password">
            </div>
            <input class="btn btn-lg btn-primary btn-block" value="Confirm Changes" id="bId" type="button">

        </fieldset>

        @*@Scripts.Render("~/bundles/jquery")*@
        <script>

            $(document).ready(function () {

                $('#bId').click(function () {

                    var oP = $('#old').val();
                    var nP = $('#new').val();
                    var nP1 = $('#new1').val();
                    var uId = $('#uId').val();
                    

                    $.getJSON("/Home/changePasswordU?old=" + oP + "&" + "neww=" + nP + "&" + "new1=" + nP1 + "&" + "uId=" + uId, function (data) {
                        
                        if (data == 0) {
                            $('#errMsg').empty();
                            $('#old').val("");
                            $('#new').val("");
                            $('#new1').val("");
                            $('#errMsg').append('<p> Password Missmatch Error.  </p>');
                        }
                        else {
                            $('#errMsg').empty();
                            $('#old').val("");
                            $('#new').val("");
                            $('#new1').val("");
                            $('#errMsg').append('<p> Password Changed.  </p>');
                        }
                    });

                });

            });
        </script>

    </div>
    <div class="col-md-1"> </div>

</div>

<div id="errMsg" style="color:#577492 ; margin-left:500px ; font-size:medium">

</div>