@{
    //Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div style="margin-top:10%">
<h1 style="font-weight: 600; color: #577492;"> Terms & Conditions </h1>
<p style="font-weight:400; color:#67655D;"> All Terms And Conditions of the Website </p>
</div>