@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newPassword</title>
    <script src="~/jsp/jquery-2.1.4.min.js"></script>
    <link href="~/bootStrap/bootstrap.css" rel="stylesheet" />
    <script src="~/bootStrap/bootstrap.js"></script>
</head>
<body>
    <div >
        <div id="editPassword">
            <form method="post" action="~/Forms/editUserPassword">
                <input type="password" placeholder="Enter Old password" /><br /><br />
                <input type="password" placeholder="Re-Enter Old password" /><br /><br />
                <input type="password" placeholder="Enter New password" name="newUserPassword" /><br /><br />
                <input type="submit" class="btn btn-warning bgcolor" value="save changes" style="margin-left:350px" />
            </form>
        </div>
    </div>
</body>
</html>
